@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap");
/* Fonts */
/* Colors */
/* Media queries */
/* Media queries */
/* Animations */
/* Divers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

main {
  margin: 1rem;
  margin-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  main {
    max-width: 900px;
    margin: 1rem auto;
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  main {
    max-width: 1400px;
  }
}

header {
  height: 70px;
  padding: 0.8rem;
  background-color: #8D6E63;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation a {
  text-decoration: none;
}
.navigation__heading {
  margin-left: 1rem;
  font-size: 1.9rem;
  font-family: "Permanent Marker", cursive;
  color: #eee;
}
.navigation__btn {
  width: 100px;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}
.navigation i {
  font-size: 2rem;
  color: #eee;
}

.cart:hover {
  opacity: 0.5;
}
.cart__nb {
  display: inline-block;
  border-radius: 1rem;
  position: relative;
  top: 5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: red;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

footer {
  padding: 0.8rem;
  background-color: #8D6E63;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
footer p {
  font-family: "Permanent Marker", cursive;
  color: #eee;
  font-size: 1rem;
  text-align: center;
}

#productList {
  display: flex;
  flex-direction: column;
  list-style: none;
}
@media screen and (min-width: 768px) {
  #productList {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.product {
  width: 90vw;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 10px;
  border-radius: 1rem;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  color: #444;
}
@media screen and (min-width: 768px) {
  .product {
    max-width: 350px;
    margin: 15px;
  }
}
.product__name {
  margin-bottom: 1rem;
}
.product__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .product__img {
    max-height: 204px;
  }
}
.product__price {
  margin: 0 auto;
  padding: 0.6rem;
  font-family: "Pacifico", cursive;
}
.product__btn {
  background-color: #8D6E63;
  color: #eee;
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 0.6rem;
  box-shadow: 3px 3px 1px black;
  text-decoration: none;
}
.product__btn:hover {
  cursor: pointer;
  animation: hover 0.3s;
}
@keyframes hover {
  0% {
    opacity: 1;
    box-shadow: 3px 3px 1px black;
  }
  25% {
    box-shadow: 0px 3px 1px black;
  }
  50% {
    opacity: 0.8;
    box-shadow: -3px 0px 1px black;
  }
  75% {
    box-shadow: 0px -3px 1px black;
  }
}

.section {
  text-align: center;
}
.section__error {
  font-size: 1.5rem;
}

.product-section {
  width: 90vw;
  background-color: #ddd;
  text-align: center;
  color: #444;
  font-family: "Pacifico", cursive;
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 15px gray;
}
@media screen and (min-width: 768px) {
  .product-section {
    max-width: 750px;
  }
}
.product-section h2 {
  font-size: 1.2rem;
  font-family: "Permanent Marker", cursive;
}
@media screen and (min-width: 768px) {
  .product-section h2 {
    font-size: 2rem;
  }
}
.product-section img {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}
.product-section p {
  margin: 0 auto;
  text-align: justify;
  font-size: 0.8rem;
  max-width: 600px;
}
@media screen and (min-width: 500px) {
  .product-section p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .product-section p {
    font-size: 1.2rem;
  }
}
.product-section div {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .product-section div {
    font-size: 1.2rem;
  }
}
.product-section label {
  font-size: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .product-section label {
    font-size: 1.2rem;
  }
}
.product-section select {
  border: none;
  border-radius: 1rem 0px 0px 1rem;
  padding: 0.2rem;
}
.product-section button {
  background-color: #8D6E63;
  color: #eee;
  font-family: "Permanent Marker", cursive;
  font-size: 1rem;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 0.6rem;
  box-shadow: 3px 3px 1px black;
}
.product-section button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.product-section button:active {
  animation: click 0.3s infinite;
}
@keyframes click {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.cart-section {
  width: 90vw;
  background-color: #ddd;
  text-align: center;
  color: #444;
  padding: 0.5rem;
  margin: 0 auto;
  font-size: 0.7rem;
}
@media screen and (min-width: 500px) {
  .cart-section {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .cart-section {
    max-width: 750px;
    padding: 1rem;
  }
}
.cart-section h2 {
  font-family: "Permanent Marker", cursive;
  margin: 1rem 0 1rem 0;
}
.cart-section__head {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1rem;
}
.cart-section__product {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.cart-section__remove, .cart-section__add {
  width: 15px;
  padding: 0.2rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 1px 1px 2px gray;
}
.cart-section__remove:hover, .cart-section__add:hover {
  cursor: pointer;
  opacity: 0.5;
}
.cart-section__remove {
  background-color: red;
  margin-right: 0.2rem;
}
.cart-section__add {
  background-color: green;
  margin-left: 0.2rem;
}
.cart-section__delete {
  background-color: red;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 1rem;
  border: none;
  margin-left: 20px;
  box-shadow: 1px 1px 2px gray;
}
.cart-section__delete:hover {
  cursor: pointer;
  opacity: 0.5;
}
.cart-section__cancelCart {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #8D6E63;
  margin-bottom: 1rem;
  color: #eee;
  box-shadow: 1px 1px 1px black;
}
.cart-section__cancelCart:hover {
  cursor: pointer;
  opacity: 0.5;
}
.cart-section__table {
  margin: 0 auto;
  width: 90%;
  text-align: justify;
}
.cart-section__table th, .cart-section__table td {
  padding: 2px;
}
@media screen and (min-width: 768px) {
  .cart-section__table th:nth-child(4), .cart-section__table td:nth-child(4) {
    width: 137px;
  }
}
.cart-section__table th:nth-child(5) {
  width: 30px;
}
.cart-section__total {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Pacifico", cursive;
  font-size: 1rem;
}
.cart-section__empty {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.cart-form {
  margin: 1rem auto;
  padding: 5px;
}
.cart-form__group {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-form input {
  height: 30px;
  width: 70%;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.cart-form input:focus {
  box-shadow: 1px 1px 8px green;
  outline: none;
  border: 1px solid green;
}
.cart-form button {
  background-color: #8D6E63;
  padding: 1rem;
  font-family: "Permanent Marker", cursive;
  color: #eee;
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px black;
}
.cart-form button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.confirmation-section {
  width: 90vw;
  background-color: #ddd;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .confirmation-section {
    max-width: 750px;
  }
  .confirmation-section ul {
    text-align: center;
  }
}
.confirmation-section h2 {
  font-family: "Permanent Marker", cursive;
  color: #444;
  font-size: 1.5rem;
}
.confirmation-section__coord {
  font-weight: bold;
}
.confirmation-section ul {
  list-style: none;
  margin: 1rem auto 1rem auto;
}
.confirmation-section h3 {
  margin: 1rem auto 1rem auto;
}

/*# sourceMappingURL=style.css.map */
