* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

main {
    margin: 1rem;
    margin-bottom: 6rem;

    @include middleScreen {
        max-width: 900px;
        margin: 1rem auto;
        margin-bottom: 6rem;
    }
    @include largeScreen {
        max-width: 1400px;

    }
}