#productList {
    display: flex;
    flex-direction: column;
    list-style: none;

    @include middleScreen {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.product {
    width: 90vw;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 10px;
    border-radius: 1rem;
    text-align: center;
    font-family: $main-font;
    font-size: 1.2rem;
    color: $secondary-font-color;

    @include middleScreen {
        max-width: 350px;
        margin: 15px;
    }

    &__name {
        margin-bottom: 1rem;
    }

    &__img {
        width: 100%;
        @include middleScreen {
            max-height: 204px;
        }
    }
    &__price {
        margin: 0 auto;
        padding: 0.6rem;
        font-family: $secondary-font;
    }
    &__btn {
        background-color: $main-color;
        color: $main-font-color;
        font-size: 1.2rem;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 1rem;
        border:none;
        border-radius: 0.6rem;
        box-shadow: 3px 3px 1px black;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            @include hoverAnim;
        }
    }
}

.section {
    text-align: center;
    &__error {
        font-size: 1.5rem;
    }
}