.productDetail {
    width: 90vw;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    background-color: #ddd;
    text-align: center;
    font-family: $price-font;
    color: #444;
    border-radius: 1rem;
    box-shadow: 1px 1px 15px gray;

    @include middleScreen {
        max-width: 750px;
    }


    h2 {
        font-size: 1.2rem;
        font-family: $main-font;

        @include middleScreen {
            font-size: 2rem;
        }
    }
    img {
        width: 100%;
        max-width: 600px;
        margin: 1rem auto;

        @include smallScreen {
        }
    }
    p {
        margin: 0 auto;
        text-align: justify;
        font-size:0.8rem;
        max-width: 600px;

        @include smallScreen {
            font-size: 1rem;
        }

        @include middleScreen {
            font-size: 1.2rem;
        }
    }
    div {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include middleScreen {
            font-size: 1.2rem;
        }
    }
    label {
        font-size: 1rem;
        margin-right: 1rem;
        @include middleScreen {
            font-size: 1.2rem;
        }
    }
    select {
        border: none;
        border-radius: 1rem 0px 0px 1rem;
        padding: 0.2rem;
    }
    button {
        background-color: $main-color;
        color: $main-font-color;
        font-family: $main-font;
        font-size: 1rem;

        display: inline-block;
        margin: 1rem;
        padding: 1rem;
        border: none;
        border-radius: 0.6rem;
        box-shadow: 3px 3px 1px black;

        :hover {
            cursor: pointer;
        }
    }
}
