header {
    height: 70px;
    padding: 0.8rem;
    background-color: $main-color;
}

.navigation {
    display:flex;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none; 
    }

    &__heading {
        font-size: 30px;
        font-family: $main-font;
        color: $main-font-color;
    }
    &__btn {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
    i {
        font-size: 30px;
        color: $main-font-color;
    }
}


